<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Profile</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		{% extends 'layout.html' %}

		{% block title %}Profile{% endblock %}

		{% block content %}
		
		<h2> ADD BALANCE </h2>
		<br>
		<center>
		<strong>
		<form action="{{ url_for('addBalance') }}" method="post" enctype="multipart/form-data">
			ENTER AMOUNT <input type="text" name="amount" placeholder="Enter Amount" id="amount" required><br>
			<div class="msg">{{ msg }}</div><br>
			<input type="submit" value="ADD"><br>
		</form>
		</center>
		</strong>
		{% endblock %}

	</body>
</html>