<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		{% extends 'layout.html' %}

		{% block title %}Home{% endblock %}

		{% block content %}
		
		<h2>Dashboard</h2>
		<p>Merchant account holder name: <strong>{{ account['username'] }}</strong></p>
		
		<p>
			Account Balance: <strong>Rs {{ account['balance'] }}</strong> <br><br>
			<a style="text-decoration:none" href="{{ url_for('paymentHistory') }}"><strong>View Payment History</strong></a><br> <br>
			<a style="text-decoration:none" href="{{ url_for('acceptPayment') }}"><strong>Accept Payment</strong></a>
		</p>
		
		
		
		{% endblock %}
		
	</body>
</html>